html,
body {
  font-family: var(--font-family);
  font-stretch: condensed;
  line-height: var(--line-height);
  text-size-adjust: none;
}

* {
  max-height: 999999px;
}

b,
strong {
  font-weight: bold;
}

img {
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
}

a,
button {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  background: none;
  text-indent: 0;
  text-rendering: auto;
  text-transform: none;
  speak: none;
  touch-action: manipulation;
  user-select: none;
}

button {
  line-height: var(--line-height);
  outline: 0;
  border: 0;
  border-spacing: 0;
  transform: translate(0, 0);

  &:active {
    > * {
      transform: translate(0, 0);
    }
  }

  &[type] {
    &:not(.Ov\(hide\)) {
      overflow: visible;
    }
  }
}

a {
  text-decoration: none;
}

mark {
  background-color: transparent;
}
