<%
    htmlWebpackPlugin.options.backURL = false;
-%>
<!-- 使用 form submit -->
<form method="POST" action="account.html" class="Mt(36,t) Mt(24,m) Px(16,t) Px(12,m)">
  <p class="Fz(30) Mb(16,t) Mb(12,m)"><b>重新设定密码</b></p>
  <div class="mItem">
    <p class="Mb(9,t) Mb(6,m) Fz(30)">密码政策 :</p>
    <ul class="mItemBd in.Mt(12.t) in.Mt(8.m)">
      <li label="-" class="Fz(30)">
        <p>密码必须包含6个或更多字符，并包含字母数字和符号</p>
      </li>
      <li label="-" class="Fz(30)">
        <p>新密码不得与旧密码相同</p>
      </li>
      <li label="-" class="Fz(30)">
        <p>确认密码必须与新密码相同</p>
      </li>
    </ul>
  </div>
  <ul class="Mt(48,t) Mt(32,m) in.Mt(36,t) in.Mt(24,m)">
    <li class="in.Mt(12,t) in.Mt(8,m)">
      <p class="Fz(26)"><b>新密码</b></p>
      <%- require('_components/mForm.ejs')({
        name: 'NewPassword',
        type: 'password',
        id: 'Psw',
        value: '',
        validate : `{'req': '此栏位不得为空', 'password': {'length': 6, 'msg': '密码必须包含 $length 个或更多字符，并包含字母数字和符号'}}`
      }) %>
    </li>
    <li class="in.Mt(12,t) in.Mt(8,m)">
      <p class="Fz(26)"><b>确认密码</b></p>
      <%- require('_components/mForm.ejs')({
        name: 'CheckPassword',
        type: 'password',
        value: '',
        validate : `{'req': '此栏位不得为空', 'password': {'same': '.jFormPsw', 'msg': '确认密码必须与新密码相同'}}`
      }) %>
    </li>
  </ul>
  <div class="Mt(32,t) Mt(24,m)">
    <button type="submit" class="Bgc(x19ff) D(b) Bxz(bd) W(full) Bdrs(6) Px(16,t) Py(14,t) Px(12,m) Py(10,m) jSubmit">
      <b class="Fz(30) C(xf)">更新</b>
    </button>
  </div>
</form>