<%
    htmlWebpackPlugin.options.backURL = true;
-%>
<!-- 使用 form submit -->
<form method="POST" action="account.html" class="Mt(36,t) Mt(24,m) Px(16,t) Px(12,m)">
  <p class="Fz(26)"><b>若要重新要设定密码，请输入注册时所用的电子邮箱地址。</b></p>
  <ul class="Mt(36,t) Mt(24,m)">
    <li>
      <%- require('_components/mForm.ejs')({
        name: 'Email',
        type: 'email',
        value: '',
        validate : `{'req': '此栏位不得为空', 'email': '请输入正确的电子邮箱'}`
      }) %>
    </li>
  </ul>
  <div class="Mt(32,t) Mt(24,m)">
    <button type="submit" class="Bgc(x19ff) D(b) Bxz(bd) W(full) Bdrs(6) Px(16,t) Py(14,t) Px(12,m) Py(10,m) jSubmit">
      <b class="Fz(30) C(xf)">送出</b>
    </button>
  </div>
</form>