<div class="mCard Bdrs(6) Bgc(xf) Bxsh(def)">
  <h2 class="mCardHd Bdbw(1) Bdbc(xfff7) Bdst(sol) P(24,t) P(16,m)">
    <b class="Fz(30)"><%- title %></b>
  </h2>
  <div class="mCardBd P(24,t) P(16,m)">
    <%- require(`../_components/${component.path}.ejs`)(component.data) %>
  </div>
</div>