<header class="mHd D(fx) Jc(c) P(12)">
  <% if ( typeof back !== 'undefined') { -%>
    <a href="<%- back %>" class="mHdIcon WH(24) D(b) Fxsh">
      <svg>
        <use xlink:href="#arrow-left"></use>
      </svg>
    </a>
  <% } -%>
  <h1 class="Fz(17) Fxg Ta(c)"><b><%- title %></b></h1>
  <% if ( typeof refresh !== 'undefined' && refresh === true) { -%>
    <button type="button" class="mHdIcon WH(24) D(b) Fxsh jRefresh">
      <svg>
        <use xlink:href="#refresh"></use>
      </svg>
    </button>
  <% } -%>
</header>